In [1]:
import pandas as pd
import numpy as np

# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [3]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [5]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

In [7]:
obj_df[obj_df.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [11]:
obj_df[obj_df.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [13]:
obj_df.isnull()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,True,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
175,False,False,False,False,False,False,False,False,False,False
176,False,False,False,False,False,False,False,False,False,False
177,False,False,False,False,False,False,False,False,False,False
178,False,False,False,False,False,False,False,False,False,False
179,False,False,False,False,False,False,False,False,False,False
180,False,False,False,False,False,False,False,False,False,False
181,False,False,False,False,False,False,False,False,False,False
182,False,False,False,False,False,False,False,False,False,False
183,False,False,False,False,False,False,False,False,False,False
184,False,False,False,False,False,False,False,False,False,False
185,False,False,False,False,False,False,False,False,False,False
186,False,False,False,False,False,False,False,False,False,False
187,False,False,False,False,False,False,False,False,False,False
188,False,False,False,False,False,False,False,False,False,False
189,False,False,False,False,False,False,False,False,False,False
190,False,False,False,False,False,False,False,False,False,False
191,False,False,False,False,False,False,False,False,False,False
192,False,False,False,False,False,False,False,False,False,False
193,False,False,False,False,False,False,False,False,False,False
194,False,False,False,False,False,False,False,False,False,False
195,False,False,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False
200,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False

In [14]:
obj_df.isnull().any

<bound method DataFrame.any of       make  fuel_type  aspiration  num_doors  body_style  drive_wheels  \
0    False      False       False      False       False         False
1    False      False       False      False       False         False
2    False      False       False      False       False         False
3    False      False       False      False       False         False
4    False      False       False      False       False         False
5    False      False       False      False       False         False
6    False      False       False      False       False         False
7    False      False       False      False       False         False
8    False      False       False      False       False         False
9    False      False       False      False       False         False
10   False      False       False      False       False         False
11   False      False       False      False       False         False
12   False      False       False      False       False         False
13   False      False       False      False       False         False
14   False      False       False      False       False         False
15   False      False       False      False       False         False
16   False      False       False      False       False         False
17   False      False       False      False       False         False
18   False      False       False      False       False         False
19   False      False       False      False       False         False
20   False      False       False      False       False         False
21   False      False       False      False       False         False
22   False      False       False      False       False         False
23   False      False       False      False       False         False
24   False      False       False      False       False         False
25   False      False       False      False       False         False
26   False      False       False      False       False         False
27   False      False       False       True       False         False
28   False      False       False      False       False         False
29   False      False       False      False       False         False
..     ...        ...         ...        ...         ...           ...
175  False      False       False      False       False         False
176  False      False       False      False       False         False
177  False      False       False      False       False         False
178  False      False       False      False       False         False
179  False      False       False      False       False         False
180  False      False       False      False       False         False
181  False      False       False      False       False         False
182  False      False       False      False       False         False
183  False      False       False      False       False         False
184  False      False       False      False       False         False
185  False      False       False      False       False         False
186  False      False       False      False       False         False
187  False      False       False      False       False         False
188  False      False       False      False       False         False
189  False      False       False      False       False         False
190  False      False       False      False       False         False
191  False      False       False      False       False         False
192  False      False       False      False       False         False
193  False      False       False      False       False         False
194  False      False       False      False       False         False
195  False      False       False      False       False         False
196  False      False       False      False       False         False
197  False      False       False      False       False         False
198  False      False       False      False       False         False
199  False      False       False      False       False         False
200  False      False       False      False       False         False
201  False      False       False      False       False         False
202  False      False       False      False       False         False
203  False      False       False      False       False         False
204  False      False       False      False       False         False

     engine_location  engine_type  num_cylinders  fuel_system
0              False        False          False        False
1              False        False          False        False
2              False        False          False        False
3              False        False          False        False
4              False        False          False        False
5              False        False          False        False
6              False        False          False        False
7              False        False          False        False
8              False        False          False        False
9              False        False          False        False
10             False        False          False        False
11             False        False          False        False
12             False        False          False        False
13             False        False          False        False
14             False        False          False        False
15             False        False          False        False
16             False        False          False        False
17             False        False          False        False
18             False        False          False        False
19             False        False          False        False
20             False        False          False        False
21             False        False          False        False
22             False        False          False        False
23             False        False          False        False
24             False        False          False        False
25             False        False          False        False
26             False        False          False        False
27             False        False          False        False
28             False        False          False        False
29             False        False          False        False
..               ...          ...            ...          ...
175            False        False          False        False
176            False        False          False        False
177            False        False          False        False
178            False        False          False        False
179            False        False          False        False
180            False        False          False        False
181            False        False          False        False
182            False        False          False        False
183            False        False          False        False
184            False        False          False        False
185            False        False          False        False
186            False        False          False        False
187            False        False          False        False
188            False        False          False        False
189            False        False          False        False
190            False        False          False        False
191            False        False          False        False
192            False        False          False        False
193            False        False          False        False
194            False        False          False        False
195            False        False          False        False
196            False        False          False        False
197            False        False          False        False
198            False        False          False        False
199            False        False          False        False
200            False        False          False        False
201            False        False          False        False
202            False        False          False        False
203            False        False          False        False
204            False        False          False        False

[205 rows x 10 columns]>

In [15]:
obj_df.isnull().any(axis=1)
#Return whether any element is True over requested axis

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27      True
28     False
29     False
       ...
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
Length: 205, dtype: bool

In [16]:
obj_df["num_doors"].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [17]:
obj_df = obj_df.fillna({"num_doors": "four"})

In [18]:
obj_df["num_cylinders"].value_counts()

four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num_cylinders, dtype: int64

In [19]:
cleanup_nums = {"num_doors":     {"four": 4, "two": 2},
                "num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8,
                                  "two": 2, "twelve": 12, "three":3 }}
obj_df.replace(cleanup_nums, inplace=True)
obj_df.head()
#

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi

In [21]:
obj_df.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

In [23]:
obj_df["body_style"] = obj_df["body_style"].astype('category')
obj_df.dtypes
#Cast a pandas object to a specified dtype dtype.

make                 object
fuel_type            object
aspiration           object
num_doors             int64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_system          object
dtype: object

In [24]:
obj_df["body_style_cat"] = obj_df["body_style"].cat.codes
obj_df.head()
#cat: Accessor object for categorical properties of the Series values.
#Be aware that assigning to categories is a inplace operation, while all methods return new categorical data per default (but can be called with inplace=True).

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi,2
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi,3
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi,3

In [25]:
 obj_df["body_style"].cat.codes

0      0
1      0
2      2
3      3
4      3
5      3
6      3
7      4
8      3
9      2
10     3
11     3
12     3
13     3
14     3
15     3
16     3
17     3
18     2
19     2
20     3
21     2
22     2
23     2
24     2
25     3
26     3
27     3
28     4
29     2
      ..
175    2
176    3
177    2
178    2
179    2
180    3
181    4
182    3
183    3
184    3
185    3
186    3
187    3
188    3
189    0
190    2
191    3
192    3
193    4
194    3
195    4
196    3
197    4
198    3
199    4
200    3
201    3
202    3
203    3
204    3
Length: 205, dtype: int8

In [26]:
pd.get_dummies(obj_df, columns=["drive_wheels"]).head()
#http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html

,make,fuel_type,aspiration,num_doors,body_style,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,0,1
1,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,0,1
2,alfa-romero,gas,std,2,hatchback,front,ohcv,6,mpfi,2,0,0,1
3,audi,gas,std,4,sedan,front,ohc,4,mpfi,3,0,1,0
4,audi,gas,std,4,sedan,front,ohc,5,mpfi,3,1,0,0

In [27]:
pd.get_dummies(obj_df, columns=["body_style", "drive_wheels"], prefix=["body", "drive"]).head()

,make,fuel_type,aspiration,num_doors,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,alfa-romero,gas,std,2,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
1,alfa-romero,gas,std,2,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
2,alfa-romero,gas,std,2,front,ohcv,6,mpfi,2,0,0,1,0,0,0,0,1
3,audi,gas,std,4,front,ohc,4,mpfi,3,0,0,0,1,0,0,1,0
4,audi,gas,std,4,front,ohc,5,mpfi,3,0,0,0,1,0,1,0,0

In [28]:
obj_df["engine_type"].value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine_type, dtype: int64

In [29]:
obj_df["OHC_Code"] = np.where(obj_df["engine_type"].str.contains("ohc"), 1, other=0)

TypeError: where() takes no keyword arguments

In [30]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
obj_df["make_code"] = lb_make.fit_transform(obj_df["make"])
obj_df[["make", "make_code"]].head(11)

           make  make_code
0   alfa-romero          0
1   alfa-romero          0
2   alfa-romero          0
3          audi          1
4          audi          1
5          audi          1
6          audi          1
7          audi          1
8          audi          1
9          audi          1
10          bmw          2

In [31]:
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(obj_df["body_style"])
pd.DataFrame(lb_results, columns=lb_style.classes_).head()

   convertible  hardtop  hatchback  sedan  wagon
0            1        0          0      0      0
1            1        0          0      0      0
2            0        0          1      0      0
3            0        0          0      1      0
4            0        0          0      1      0

In [36]:
pd.DataFrame(lb_results).head()
obj_df['body_style']

0      convertible
1      convertible
2        hatchback
3            sedan
4            sedan
5            sedan
6            sedan
7            wagon
8            sedan
9        hatchback
10           sedan
11           sedan
12           sedan
13           sedan
14           sedan
15           sedan
16           sedan
17           sedan
18       hatchback
19       hatchback
20           sedan
21       hatchback
22       hatchback
23       hatchback
24       hatchback
25           sedan
26           sedan
27           sedan
28           wagon
29       hatchback
          ...
175      hatchback
176          sedan
177      hatchback
178      hatchback
179      hatchback
180          sedan
181          wagon
182          sedan
183          sedan
184          sedan
185          sedan
186          sedan
187          sedan
188          sedan
189    convertible
190      hatchback
191          sedan
192          sedan
193          wagon
194          sedan
195          wagon
196          sedan
197          wagon
198          sedan
199          wagon
200          sedan
201          sedan
202          sedan
203          sedan
204          sedan
Name: body_style, Length: 205, dtype: category
Categories (5, object): [convertible, hardtop, hatchback, sedan, wagon]